<!DOCTYPE>

<html>

	<head>
		<!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/index.css">-->
	</head>

	<body>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quae culpa blanditiis laudantium necessitatibus quasi magni ipsam optio eveniet consequatur ad, iure laboriosam vitae dolorem itaque obcaecati, incidunt quaerat porro.
	</body>

</html>