<!DOCTYPE>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>Enregistrement de note vocal</title>
	</head>
	<body>
		<script> 
			window.trans = <%- lang.replace(/=&gt;/g, '=>') %>; 
			window.urlapplication = "<%- urlapplication %>"; 
			window.portapplication = "<%- portapplication %>"; 
		</script>
		<div id="core"></div>
		<script src="/assets/js/index.js"></script>
	</body>
</html>