<!DOCTYPE>
<html>
	<head>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/index.css">
	</head>
	<body>
		<H1>Dashbord index</H1>
	</body>
</html>