<html>
  	<head>
  	</head>
  	<body>
  		<script> 
			window.trans = <%- lang.replace(/=&gt;/g, '=>') %>; 
			window.urlapplication = "<%- urlapplication %>"; 
			console.log( '--------------' ) ; 
			console.log( window.urlapplication ) ; 
			console.log( window.trans ) ; 
		</script>
	    <div id="core"></div>
	    <script src="/assets/js/vocalNote.js"></script>
  	</body>
</html>
