<html>
  	<head>
  	</head>
  	<body>
  		<script> 
			window.trans = <%- lang.replace(/=&gt;/g, '=>') %>; 
			window.urlapplication = "<%- urlapplication %>"; 
		</script>
	    <div id="core"></div>
	    <script src="/assets/js/index.js"></script>
  	</body>
</html>
